:root {
    --main-color:#DCCA87;
    --text-color:#AAAAAA;
    --accent-color:#F5EFDB;
    --accent-text:#fff;
    --button-color:#0C0C0C;
    --signature-text:'Bestermind', sans-serif;
    --main-text: 'Cormorant Upright', sans-serif;
    --accent-text: 'Open Sans', sans-serif;
}