:root {
    --main-color: #DCCA87;
    --text-color: #AAAAAA;
    --accent-color: #F5EFDB;
    --accent-text-color: white;
    --button-color: #0C0C0C;
    --signature-text: 'Bestermind', sans-serif;
    --main-text: "Cormorant Upright", sans;
    --accent-text: 'Open Sans', sans-serif;
    --bg-color: #0C0C0C;
}

body {
    background-color: var(--bg-color);
    font-family: var(--main-text);
    font-size: 16px;
    background-image: url('../images/main/wave-element.png');
    color: var(--accent-text-color);
    letter-spacing: 0.04em;
}

.container {
    width: 1680px;
    margin: 0 auto;
}

button {
    background-color: var(--main-color);
    color: var(--button-color);
    border: none;
    font-size: 16px;
    font-family: var(--main-text);
}

.header {
    padding-top: 32px;
    background-image: url("../images/main/about_us-bg.png");
    background-size: cover;
}

.header-nav {
    display: flex;
    gap: 271px;
    align-items: center;
}

.header-logo {
    color: var(--accent-text-color);
    font-weight: 700;
    font-size: 44px;
    line-height: 130%;
    text-transform: uppercase;
}

.header-container {
    display: flex;
    gap: 437px;
}

.header-list {
    display: flex;
    gap: 32px;
    align-items: center;
}

.header-inform-list {
    display: flex;
    gap: 50px;
    align-items: center;
}

.header-link {
    line-height: 175%;
    color: var(--accent-text-color);
    font-family: var(--accent-text);
}

.header-inform-link {
    font-weight: 600;
    line-height: 175%;
    text-transform: capitalize;
    color: var(--accent-text-color);
    font-family: var(--accent-text);
}

.on_the_rocks {
    background-image: url("../images/main/about_us-bg.png");
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.on_the_rocks-title {
    font-weight: 700;
    font-size: 181px;
    line-height: 1.3;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    padding-top: 319px;
    padding-bottom: 424px;
    background-image: url("../images/bar-page/on-rock.png");
    background-repeat: no-repeat;
    background-position: center;
}

.reservation-list {
    display: flex;
    justify-content: space-between;
}

.reservation {
    padding-bottom: 152px;
    padding-top: 157px;
}

.reservation::before {
    content: '';
    background-image: url('../images/main/double-spoon.png');
    background-repeat: no-repeat;
    width: 146px;
    height: 146px;
    display: block;
    background-position: 100% 0%;
}

.reservation-container {
    border: 1px solid rgba(220, 202, 135, 0.2);
    background-color: var(--bg-color);
    text-align: center;
    margin: auto;
    display: block;
    width: 1364px;
    padding: 48px 32px;
}

.reservation-subtitle {
    font-weight: 700;
    font-size: 23px;
    line-height: 1.3;
    text-transform: capitalize;
    color: var(--accent-text-color);
}

.reservation-subtitle::after {
    content: '';
    background-image: url('../images/main/spoon.png');
    display: block;
    width: 40px;
    height: 9px;
    margin: auto;
    margin-top: 8px;
}

.reservation-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 1.3;
    text-transform: capitalize;
    color: var(--main-color);
    padding-bottom: 64px;
}

.reservation-select {
    background-color: var(--bg-color);
    border: 1px solid --main-color;
    padding: 16px 16px;
    line-height: 1.75;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--text-color);
    width: 412px;
    font-family: var(--main-text);
    font-size: 16px;
}

.reservation-button {
    padding: 8px 32px;
    font-weight: 700;
    line-height: 1.75;
    color: var(--button-color);
    font-family: var(--main-text);
    margin-top: 64px;
}

.alcohol {
    padding-top: 152px;
    padding-bottom: 152px;
}

.alcohol-subtitle {
    font-weight: 700;
    font-size: 23px;
    line-height: 1.3;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 8px;
}

.alcohol-subtitle::after {
    content: '';
    background-image: url('../images/main/spoon.png');
    display: block;
    width: 40px;
    height: 9px;
    margin: auto;
    margin-top: 8px;
}

.alcohol-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 1.3;
    text-transform: capitalize;
    color: var(--main-color);
    text-align: center;
    padding-top: 8px;
    padding-bottom: 64px;
}

.alcohol-list {
    display: flex;
    gap: 32px;
    justify-content: center;
}

.happy_hours {
    background-image: url(../images/bar-page/happy-hours_bg.png);
    padding-top: 330px;
    padding-bottom: 330px;
    background-size: cover;
}

.happy_hours-title {
    font-weight: 600;
    font-size: 128px;
    line-height: 1.3;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    color: var(--main-color);
    text-align: center;
}

.happy_hours-subtitle {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    text-align: center;
    padding-top: 32px;
}

.special-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 64px;
    gap: 32px;
    padding-bottom: 64px;
    align-items: center;
}

.special-subtitle {
    font-weight: 700;
    font-size: 23px;
    line-height: 1.3;
    text-transform: capitalize;
    text-align: center;
}

.special-subtitle::after {
    content: '';
    background-image: url('../images/main/spoon.png');
    display: block;
    width: 40px;
    height: 9px;
    margin: auto;
    margin-top: 8px;
}

.special {
    padding-top: 152px;
    padding-bottom: 152px;
}

.special-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 1.3;
    text-transform: capitalize;
    text-align: center;
    color: var(--main-color);
    padding-top: 8px;
}

.special-item {
    padding-bottom: 40px;
}

.special-item.the_key-item:nth-child(5) {
    padding-bottom: none;
}

.special-wrapper-title {
    font-weight: 600;
    font-size: 45px;
    line-height: 1.3;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 48px;
}

.special-caption {
    font-weight: 700;
    font-size: 23px;
    line-height: 1.3;
    text-transform: capitalize;
    color: var(--main-color);
}

.special-text {
    line-height: 175%;
    color: var(--text-color);
    font-family: var(--accent-text);
    padding-top: 8px;
}

.special-price::before {
    content: '';
    display: inline-block;
    width: 119px;
    height: 1px;
    background-color: var(--accent-text-color);
    margin-right: 32px;
    margin-bottom: 5px;
    margin-left: 32px;
}


.special-item-wrapper {
    display: flex;
    align-items: center;

    padding-top: 48px;
    justify-content: space-between;
}

.special-price {
    font-weight: 700;
    font-size: 23px;
    line-height: 1.3;
}

.special-button {
    padding: 8px 32px;
    font-weight: 700;
    line-height: 1.75;
    font-family: var(--main-text);
    color: var(--button-color);
    display: block;
    margin: auto;
}

.contact {
    padding-top: 128px;
    background-image: url("../images/main/about_us-bg.png");
    background-size: contain;
}

.contact-subtitle {
    font-weight: 700;
    font-size: 23px;
    line-height: 1.3;
    text-transform: capitalize;
}

.contact-subtitle::after {
    content: '';
    background-image: url('../images/main/spoon.png');
    display: block;
    width: 40px;
    height: 9px;
    margin-top: 8px;
}

.contact-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 1.3;
    text-transform: capitalize;
    color: var(--main-color);
    padding-top: 8px;
}

.contact-text {
    line-height: 1.75;
    color: var(--text-color);
    font-family: var(--accent-text);
    padding-top: 64px;
}

.contact-hours {
    font-weight: 700;
    font-size: 23px;
    line-height: 1.3;
    text-transform: capitalize;
    color: var(--main-color);
    padding-top: 32px;
}

.contact-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 16px;
    padding-bottom: 64px;
}

.contact-item {
    font-family: var(--accent-text);
    line-height: 1.75;
}

.contact-button {
    padding: 8px 32px;
    font-weight: 700;
    line-height: 1.75;
}

.contact-container {
    display: flex;
    gap: 120px;
    justify-content: center;
}

.contact-wrapper {
    padding-top: 124px;
}


.newsletter {
    padding-top: 113px;
    padding-bottom: 128px;
}

.newsletter-subtitle {
    font-weight: 700;
    font-size: 23px;
    line-height: 1.3;
    text-transform: capitalize;
}

.newsletter-subtitle::after {
    content: '';
    background-image: url('../images/main/spoon.png');
    display: block;
    width: 40px;
    height: 9px;
    margin: auto;
    margin-top: 8px;
}

.newsletter-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 1.3;
    color: var(--main-color);
    text-transform: capitalize;
    padding-top: 8px;
}

.newsletter-text {
    line-height: 175%;
    font-family: var(--accent-text);
    padding-top: 24px;
}

.newsletter-input {
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.75;
    text-transform: capitalize;
    font-family: var(--main-text);
    background-color: var(--button-color);
    padding: 16px 19px;
    width: 635px;
    border: 1px solid var(--accent-color);
}

.newsletter-button {
    padding: 8px 32px;
    font-weight: 700;
    line-height: 1.75;
    font-size: 16px;
    font-family: var(--main-text);
    margin-left: 32px;
}

.newsletter-form {
    padding-top: 64px;
}

.newsletter-container {
    border: 1px solid rgba(220, 202, 135, 0.2);
    background-color: var(--bg-color);
    text-align: center;
    margin: auto;
    display: block;
    width: 1300px;
    padding: 48px 32px;
}

.footer {
    background-image: url('../images/main/about_us-bg.png');
    background-repeat: no-repeat;
    padding-top: 128px;
    padding-bottom: 128px;
    background-size: cover;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

.footer-title {
    font-size: 32px;
    line-height: 1.3;
    text-transform: capitalize;
    color: var(--accent-color);
    padding-bottom: 24px;
    text-align: center;
}

.footer-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: var(--text-color);
    font-family: var(--accent-text);
}

.footer-days {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: var(--text-color);
    font-family: var(--accent-text);
    width: 158px;
    text-align: center;
    padding-top: 8px;
}

.footer-address {
    text-align: center;
}

.footer-logo {
    font-weight: 700;
    font-size: 64px;
    line-height: 1.3;
    color: var(--main-color);
    text-transform: uppercase;
    text-align: center;
}

.footer-text {
    line-height: 1.75;
    color: var(--accent-text-color);
    font-family: var(--accent-text);
    width: 438px;
    text-align: center;
    margin-bottom: 16px;
}

.footer-text::after {
    content: '';
    background-image: url('../images/main/spoon.png');
    display: block;
    width: 40px;
    height: 9px;
    margin: auto;
    margin-top: 8px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-direction: row;
    padding-top: 16px;
}


.footer-copyright {
    color: var(--text-color);
    line-height: 1.75;
    font-family: var(--accent-text);
    text-align: center;
    padding-top: 80px;
}

.footer-wrapper {
    text-align: center;
}