:root {
    --main-color:#DCCA87;
    --text-color:#AAAAAA;
    --accent-color:#F5EFDB;
    --accent-text:#fff;
    --main-text: "Cormorant Upright", sans-serif;
    --accent-text: "Open Sans", sans-serif;
}