:root {
    --main-color: #DCCA87;
    --text-color: #AAAAAA;
    --accent-color: #F5EFDB;
    --accent-text-color: white;
    --button-color: #0C0C0C;
    --signature-text: 'Bestermind', sans-serif;
    --main-text: "Cormorant Upright", serif;
    --accent-text: 'Open Sans', sans-serif;
    --bg-color: #0C0C0C;
}

body {
    background-color: var(--bg-color);
    font-family: var(--main-text);
    font-size: 16px;
    background-image: url('../images/main/wave-element.png');
    color: var(--accent-text-color);
    letter-spacing: 0.04em;
}

.container {
    width: 1300px;
    margin: 0 auto;
    display: block;
}

button {
    background-color: var(--main-color);
    color: var(--button-color);
    border: none;
    font-size: 16px;
}

.header {
    padding-top: 32px;
}

.header-nav {
    display: flex;
    gap: 271px;
    align-items: center;
}

.header-logo {
    color: var(--accent-text-color);
    font-weight: 700;
    font-size: 44px;
    line-height: 130%;
    text-transform: uppercase;
}

.header-container {
    display: flex;
    gap: 437px;
    width: 1680px;
}

.header-list {
    display: flex;
    gap: 32px;
    align-items: center;
}

.header-inform-list {
    display: flex;
    gap: 50px;
    align-items: center;
}

.header-link {
    line-height: 175%;
    color: var(--accent-text-color);
    font-family: var(--accent-text);
}

.header-inform-link {
    font-weight: 600;
    line-height: 175%;
    text-transform: capitalize;
    color: var(--accent-text-color);
    font-family: var(--accent-text);
}



.the_key-slide {
    display: flex;
    gap: 180px;
    justify-content: center;
}

.the_key-container {
    width: 1680px;
}

.the_key-subtitle {
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    text-transform: capitalize;
    color: var(--accent-text-color);
}

.the_key-subtitle::after {
    content: '';
    background-image: url('../images/main/spoon.png');
    display: block;
    width: 40px;
    height: 9px;
    margin-top: 8px;
}

.the_key-wrapper {
    width: 453px;
    padding-top: 127px;
}

.the_key-button {
    padding: 8px 32px;
    font-weight: 700;
    line-height: 1.75;
    color: var(--button-color);
    font-family: var(--main-text);
    font-size: 16px;
}

.the_key {
    padding-top: 48px;
    padding-bottom: 147px;
}

.the_key-title {
    font-weight: 700;
    font-size: 90px;
    line-height: 1.3;
    text-transform: capitalize;
    color: var(--main-color);
    padding-top: 8px;
}

.the_key-text {
    line-height: 1.75;
    font-family: var(--accent-text);
    color: var(--text-color);
    padding-bottom: 32px;
    padding-top: 32px;
}

.the_key-item {
    font-weight: 600;
    line-height: 1.75;
    color: var(--accent-text-color);
}

.the_key-item:nth-child(2) {
    color: var(--main-color);
}

.the_key-list {
    display: flex;
    gap: 8px;
    padding-top: 64px;
    padding-bottom: 161px;
    justify-content: center;
}

.about {
    background: url('../images/main/about_us-bg.png');
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 136px;
    position: relative;
}

.about-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    text-transform: capitalize;
    color: var(--main-color);
}

.about-title::after {
    content: '';
    background-image: url('../images/main/spoon.png');
    display: block;
    width: 40px;
    height: 9px;
    margin-top: 8px;
}

.about-title_left::after {
    content: '';
    background-image: url('../images/main/spoon-left.png');
    display: block;
    width: 40px;
    height: 9px;
    margin-left: auto;
    margin-top: 8px;
}

.about-text {
    font-family: var(--accent-text);
    color: var(--text-color);
    padding-top: 32px;
    line-height: 1.75;
    width: 523px;
}

.about-button {
    padding: 8px 32px;
    font-family: var(--main-text);
    font-weight: 700;
    line-height: 1.75;
    color: var(--button-color);
    margin-top: 32px;
}

.about-container {
    display: flex;
    background-image: url('../images/main/g-about_us-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: center;
}

.about-left {
    text-align: right;
}

.about-image {
    padding-left: 74px;
    padding-right: 96px;
}

.reservation-list {
    display: flex;
    justify-content: space-between;
}

.reservation {
    padding-bottom: 152px;
    padding-top: 157px;
    position: relative;
}

.reservation::before {
    content: '';
    background: url("../images/main/double-spoon.png");
    display: block;
    position: absolute;
    height: 146px;
    width: 146px;
    top: -20px;
    right: 151px;
}



.reservation-container {
    border: 1px solid rgba(220, 202, 135, 0.2);
    background-color: var(--bg-color);
    text-align: center;
    margin: auto;
    display: block;
    width: 1364px;
    padding: 48px 32px;
    position: relative;
}

.reservation-subtitle {
    font-weight: 700;
    font-size: 23px;
    line-height: 1.3;
    text-transform: capitalize;
    color: var(--accent-text-color);
}

.reservation-subtitle::after {
    content: '';
    background-image: url('../images/main/spoon.png');
    display: block;
    width: 40px;
    height: 9px;
    margin: auto;
    margin-top: 8px;
}

.reservation-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 1.3;
    text-transform: capitalize;
    color: var(--main-color);
    padding-bottom: 64px;
}

.reservation-select {
    background-color: var(--bg-color);
    border: 1px solid --main-color;
    padding: 16px 16px;
    line-height: 1.75;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--text-color);
    width: 412px;
    font-family: var(--main-text);
    font-size: 16px;
}

.reservation-button {
    padding: 8px 32px;
    font-weight: 700;
    line-height: 1.75;
    color: var(--button-color);
    font-family: var(--main-text);
    margin-top: 64px;
}

.menu {
    background-image: url('../images/main/menu-bg.jpg'), url('../images/main/double-spoon.png');
    background-repeat: no-repeat, repeat-x;
    background-position: center, top left;
    background-size: cover, 146px;
    padding-top: 261px;
    padding-bottom: 262px;
    position: relative;
}

.menu-container {
    width: 1640px;
}

.menu::before {
    content: '';
    background: url("../images/main/double-spoon.png");
    display: block;
    position: absolute;
    height: 146px;
    width: 146px;
    left: 145px;
    top: 0;

}

.menu-link {
    font-weight: 600;
    font-size: 64px;
    line-height: 1.3;
    text-transform: capitalize;
    color: var(--accent-text-color);
}

.menu-link:hover {
    text-decoration: underline;
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding-left: 145px;
}

.special-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 64px;
    gap: 32px;
    padding-bottom: 64px;
    align-items: center;
}

.special-subtitle {
    font-weight: 700;
    font-size: 23px;
    line-height: 1.3;
    text-transform: capitalize;
    text-align: center;
}

.special-subtitle::after {
    content: '';
    background-image: url('../images/main/spoon.png');
    display: block;
    width: 40px;
    height: 9px;
    margin: auto;
    margin-top: 8px;
}

.special {
    padding-top: 152px;
    padding-bottom: 152px;
}

.special-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 1.3;
    text-transform: capitalize;
    text-align: center;
    color: var(--main-color);
    padding-top: 8px;
}

.special-item {
    padding-bottom: 40px;
}

.special-item.the_key-item:nth-child(5) {
    padding-bottom: none;
}

.special-wrapper-title {
    font-weight: 600;
    font-size: 45px;
    line-height: 1.3;
    text-transform: capitalize;
    text-align: center;
    padding-bottom: 48px;
}

.special-caption {
    font-weight: 700;
    font-size: 23px;
    line-height: 1.3;
    text-transform: capitalize;
    color: var(--main-color);
}

.special-text {
    line-height: 175%;
    color: var(--text-color);
    font-family: var(--accent-text);
    padding-top: 8px;
}

.special-price::before {
    content: '';
    display: inline-block;
    width: 119px;
    height: 1px;
    background-color: var(--accent-text-color);
    margin-right: 32px;
    margin-bottom: 5px;
    margin-left: 32px;
}


.special-item-wrapper {
    display: flex;
    align-items: center;

    padding-top: 48px;
    justify-content: space-between;
}

.special-price {
    font-weight: 700;
    font-size: 23px;
    line-height: 1.3;
}

.special-button {
    padding: 8px 32px;
    font-weight: 700;
    line-height: 1.75;
    font-family: var(--main-text);
    color: var(--button-color);
    display: block;
    margin: auto;
}


.chef {
    background-image: url('../images/main/about_us-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 128px;
    padding-bottom: 128px;
}

.chef-subtitle {
    font-weight: 700;
    font-size: 23px;
    line-height: 1.3;
    text-transform: capitalize;
    padding-bottom: 8px;
}

.chef-subtitle::after {
    content: '';
    background-image: url('../images/main/spoon.png');
    display: block;
    width: 40px;
    height: 9px;
    margin-top: 8px;
}

.chef-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    text-transform: capitalize;
    color: var(--main-color);
    padding-top: 8px;
}

.chef-container {
    display: flex;
    align-items: center;
    gap: 96px;
    justify-content: center;
}

.chef-text {
    font-style: italic;
    line-height: 175%;
    color: var(--text-color);
    font-family: var(--accent-text);
    padding-top: 64px;
    width: 570px;
}

.chef-name {
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: var(--main-color);
    padding-top: 64px;
}

.chef-desc {
    line-height: 175%;
    color: var(--text-color);
    font-family: var(--accent-text);
    padding-top: 8px;
}

.chef-signature {
    font-size: 64px;
    line-height: 130%;
    color: var(--text-color);
    font-family: var(--signature-text);
    padding-top: 64px;
}

.chef-text::before {
    content: '';
    background-image: url('../images/main/quote.png');
    display: block;
    width: 47px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
}

.chef-wrapper {
    padding-top: 87px;
}

.customers {
    padding-top: 152px;
    padding-bottom: 152px;
    position: relative;
}

.customers::before {
    content: '';
    background: url("../images/main/double-spoon.png");
    display: block;
    position: absolute;
    height: 146px;
    width: 146px;
    top: -20px;
    right: 287px;

}

.customers-subtitle {
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    text-transform: capitalize;
    text-align: center;
}

.customers-subtitle::after {
    content: '';
    background-image: url('../images/main/spoon.png');
    display: block;
    width: 40px;
    height: 9px;
    margin: auto;
    margin-top: 8px;
}

.customers-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    text-transform: capitalize;
    color: var(--main-color);
    text-align: center;
    padding-top: 8px;
}

.customers-spoon {
    display: block;
    margin: auto;
    padding-top: 8px;
}

.customers-text {
    font-style: italic;
    line-height: 175%;
    color: var(--text-color);
    height: 84px;
    padding-top: 18px;
}

.customers-name {
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    color: var(--main-color);
    text-transform: capitalize;
    padding-top: 16px;
}

.customers-position {
    line-height: 175%;
    color: var(--accent-color);
    padding-top: 4px;
}

.customers-list {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 64px;
}

.customers-item {
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
    width: 634px;
}

.video {
    background-image: url('../images/main/video.png');
    background-size: cover;
    height: 763px;
    position: relative;
}

.video::before {
    content: '';
    background: url("../images/main/double-spoon.png");
    display: block;
    position: absolute;
    height: 146px;
    width: 146px;
    left: 197px;
    top: 147px;

}

.awards-wrapper {
    display: flex;
    gap: 111px;
    justify-content: center;
}




.awards-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    align-items: center;
}

.awards-item {
    display: flex;
    gap: 32px;

}

.awards-number {
    width: 79px;
    height: 79px;
}

.awards-subtitle {
    font-weight: 700;
    font-size: 23px;
    line-height: 1.3;
    text-transform: capitalize;
}

.awards {
    background-image: url('../images/main/about_us-bg.png');
    padding-top: 128px;
    padding-bottom: 128px;
    background-repeat: no-repeat;
    background-size: cover;
}

.awards-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    text-transform: capitalize;
    color: var(--main-color);
    padding-top: 8px;
}


.awards-name {
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    color: var(--main-color);
    text-transform: capitalize;
}

.awards-text {
    line-height: 1.75;
    color: var(--text-color);
    font-family: var(--accent-text);
    width: 190px;
}

.awards-subtitle::after {
    content: '';
    background-image: url('../images/main/spoon.png');
    display: block;
    width: 40px;
    height: 9px;
    margin-top: 8px;
}

.blogs {
    padding-top: 152px;
    padding-bottom: 152px;
}

.blogs-list {
    display: flex;
    gap: 32px;
    justify-content: center;
    padding-bottom: 64px;
}

.blogs-subtitle {
    font-weight: 700;
    font-size: 23px;
    line-height: 1.3;
    text-transform: capitalize;
    text-align: center;
}

.blogs-subtitle::after {
    content: '';
    background-image: url('../images/main/spoon.png');
    display: block;
    width: 40px;
    height: 9px;
    margin: auto;
    margin-top: 8px;
}

.blogs-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 1.3;
    text-transform: capitalize;
    color: var(--main-color);
    text-align: center;
    padding-top: 8px;
    padding-bottom: 64px;
}

.blogs-wrapper {
    display: flex;
    justify-content: space-between;
}

.blogs-item {
    width: 412px;
}

.blogs-inform {
    line-height: 175%;
    color: var(--accent-color);
    font-family: var(--accent-text);
    padding-top: 24px;
}

.blogs-label {
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    text-decoration-skip-ink: none;
    color: var(--main-color);
    padding-top: 32px;
}

.blogs-label:hover {
    text-decoration: underline;
}

.blogs-text {
    line-height: 175%;
    color: var(--text-color);
    font-family: var(--accent-text);
    padding-top: 32px;
    padding-bottom: 32px;
}

.blogs-button {
    padding: 8px 32px;
    font-weight: 700;
    color: var(--button-color);
    line-height: 175%;
    font-family: var(--main-text);
    margin: auto;
    display: block;
}

.blogs-link {
    font-weight: 700;
    color: var(--main-color);
    line-height: 175%;
}

.gallery {
    padding-top: 128px;
    padding-bottom: 128px;
    background-image: url('../images/main/about_us-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery-subtitle {
    font-weight: 700;
    font-size: 23px;
    line-height: 1.3;
    text-transform: capitalize;

}

.gallery-subtitle::after {
    content: '';
    background-image: url('../images/main/spoon.png');
    display: block;
    width: 40px;
    height: 9px;
    margin-top: 8px;
}

.gallery-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 1.30;
    color: var(--main-color);
    text-transform: capitalize;
    padding-top: 8px;
}

.gallery-text {
    line-height: 1.75;
    color: var(--text-color);
    font-family: var(--accent-text);
    padding-top: 24px;
    width: 491px;
    padding-bottom: 24px;
}

.gallery-container {
    display: flex;
    gap: 64px;
    justify-content: center;
}

.gallery-list {
    display: flex;
    gap: 32px;
}

.gallery-button {
    padding: 8px 32px;
    font-weight: 700;
    color: var(--button-color);
    line-height: 1.75;
    font-family: var(--main-text);
}

.gallery-item {
    position: relative;
    width: 50%;
}

.gallery-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}

.gallery-item:hover .gallery-overlay {
    opacity: 1;
}




.gallery-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 52px;
    height: 52px;
}

.newsletter {
    padding-top: 113px;
    padding-bottom: 128px;
}

.newsletter-subtitle {
    font-weight: 700;
    font-size: 23px;
    line-height: 1.3;
    text-transform: capitalize;
}

.newsletter-subtitle::after {
    content: '';
    background-image: url('../images/main/spoon.png');
    display: block;
    width: 40px;
    height: 9px;
    margin: auto;
    margin-top: 8px;
}

.newsletter-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 1.3;
    color: var(--main-color);
    text-transform: capitalize;
    padding-top: 8px;
}

.newsletter-text {
    line-height: 175%;
    font-family: var(--accent-text);
    padding-top: 24px;
}

.newsletter-input {
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.75;
    text-transform: capitalize;
    font-family: var(--main-text);
    background-color: var(--button-color);
    padding: 16px 19px;
    width: 635px;
    border: 1px solid var(--accent-color);
}

.newsletter-button {
    padding: 8px 32px;
    font-weight: 700;
    line-height: 1.75;
    font-size: 16px;
    font-family: var(--main-text);
    margin-left: 32px;
}

.newsletter-form {
    padding-top: 64px;
}

.newsletter-container {
    border: 1px solid rgba(220, 202, 135, 0.2);
    background-color: var(--bg-color);
    text-align: center;
    margin: auto;
    display: block;
    width: 1300px;
    padding: 48px 32px;
}

.footer {
    background-image: url('../images/main/about_us-bg.png');
    background-repeat: no-repeat;
    padding-top: 128px;
    padding-bottom: 128px;
    background-size: cover;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

.footer-title {
    font-size: 32px;
    line-height: 1.3;
    text-transform: capitalize;
    color: var(--accent-color);
    padding-bottom: 24px;
    text-align: center;
}

.footer-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: var(--text-color);
    font-family: var(--accent-text);
}

.footer-days {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: var(--text-color);
    font-family: var(--accent-text);
    width: 158px;
    text-align: center;
    padding-top: 8px;
}

.footer-address {
    text-align: center;
}

.footer-logo {
    font-weight: 700;
    font-size: 64px;
    line-height: 1.3;
    color: var(--main-color);
    text-transform: uppercase;
    text-align: center;
}

.footer-text {
    line-height: 1.75;
    color: var(--accent-text-color);
    font-family: var(--accent-text);
    width: 438px;
    text-align: center;
    margin-bottom: 16px;
}

.footer-text::after {
    content: '';
    background-image: url('../images/main/spoon.png');
    display: block;
    width: 40px;
    height: 9px;
    margin: auto;
    margin-top: 8px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-direction: row;
    padding-top: 16px;
}


.footer-copyright {
    color: var(--text-color);
    line-height: 1.75;
    font-family: var(--accent-text);
    text-align: center;
    padding-top: 80px;
}

.footer-wrapper {
    text-align: center;
}