:root {
    --main-color: #DCCA87;
    --text-color: #AAAAAA;
    --accent-color: #F5EFDB;
    --accent-text-color: white;
    --button-color: #0C0C0C;
    --signature-text: 'Bestermind', sans-serif;
    --main-text: "Cormorant Upright", serif;
    --accent-text: 'Open Sans', sans-serif;
    --bg-color: #0C0C0C;
}

body {
    background-color: var(--bg-color);
    font-family: var(--main-text);
    font-size: 16px;
    background-image: url(/images/main/wave\ element.png);
    color: var(--accent-text-color);
}

.container {
    width: 1680px;
    margin: 0 auto;
}

button {
    background-color: var(--main-color);
    color: var(--button-color);

}

.header {
    padding-top: 32px;
}

.header-nav {
    display: flex;
    gap: 271px;
    align-items: center;
}

.header-logo {
    color: var(--accent-text-color);
    font-weight: 700;
    font-size: 44px;
    line-height: 130%;
    text-transform: uppercase;
}

.header-container {
    display: flex;
    gap: 437px;
}

.header-list {
    display: flex;
    gap: 32px;
    align-items: center;
}

.header-inform-list {
    display: flex;
    gap: 50px;
    align-items: center;
}

.header-link {
    line-height: 175%;
    color: var(--accent-text-color);
    font-family: var(--accent-text);
}

.header-inform-link {
    font-weight: 600;
    line-height: 175%;
    text-transform: capitalize;
    color: var(--accent-text-color);
    font-family: var(--accent-text);
}

.the_key-slide {
    display: flex;
    gap: 180px;
    justify-content: center;
}

.the_key-subtitle {
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    text-transform: capitalize;
    color: var(--accent-text-color);
}

.the_key-wrapper {
    width: 453px;
    padding-top: 175px;
}

.the_key-button {
    padding: 8px 32px;
    font-weight: 700;
    line-height: 175%;
    color: var(--button-color);
    font-family: var(--main-text);
}

.the_key {
    padding-top: 48px;
}

.the_key-title {
    font-weight: 700;
    font-size: 90px;
    line-height: 130%;
    text-transform: capitalize;
    color: var(--main-color);
    padding-top: 8px;
}

.the_key-text {
    line-height: 175%;
    font-family: var(--accent-text);
    color: var(--text-color);
    padding-bottom: 32px;
    padding-top: 32px;
}

.the_key-item {
    font-weight: 600;
    line-height: 175%;
    color: var(--accent-text-color);
}

.the_key-item:nth-child(2) {
    color: var(--main-color);
}

.the_key-list {
    display: flex;
    gap: 8px;
    padding-top: 78px;
    padding-bottom: 161px;
    justify-content: center;
}

.about {
    background: url(/images/main/about_us-bg.png);
}

.about-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    text-transform: capitalize;
    color: var(--main-color);
    padding-top: 339px;
}

.about-text {
    font-family: var(--accent-text);
    color: var(--text-color);
    padding-top: 32px;
    line-height: 175%;
    width: 523px;
}

.about-button {
    padding: 8px 32px;
    font-family: var(--main-text);
    font-weight: 700;
    line-height: 175%;
    color: var(--button-color);
    margin-top: 32px;
}

.about-container {
    display: flex;
    background-image: url(/images/main/g-about_us-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    gap: 74px;
    justify-content: center;
}

.about-left {
    text-align: right;
}

.about-image {
    padding-top: 120px;
    padding-bottom: 136px;
}

.reservation-list {
    display: flex;
    gap: 32px;
    justify-content: center;
}

.reservation {
    padding-bottom: 152px;
    padding-top: 157px;
}

.reservation::before {
    content: '';
    background-image: url(/images/main/double-spoon.png);
    background-repeat: no-repeat;
    width: 146px;
    height: 146px;
    display: block;
    background-position: 100% 0%;
}

.reservation-container {
    border: 1px solid rgba(220, 202, 135, 0.2);
    background-color: var(--bg-color);
    text-align: center;
    padding: 48px;
    width: 1364px;
}

.reservation-subtitle {
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    text-transform: capitalize;
    color: var(--accent-text-color);
}

.reservation-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    text-transform: capitalize;
    color: var(--main-color);
    padding-bottom: 64px;
}

#reservation-select {
    background-color: var(--bg-color);
    border: 1px solid --main-color;
    padding: 16px 16px;
    line-height: 175%;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
    color: var(--text-color);
    padding-right: 298px;
    font-family: var(--main-text);
}

.reservation-button {
    padding: 8px 32px;
    font-weight: 700;
    line-height: 175%;
    color: var(--button-color);
    font-family: var(--main-text);
    margin-top: 64px;
}

.menu {
    background-image: url(/images/main/menu-bg.jpg), url(/images/main/double-spoon.png);
    background-repeat: no-repeat, repeat-x;
    background-position: center, top left;
    background-size: cover, 146px;

}

.menu-link {
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    text-transform: capitalize;
    color: var(--accent-text-color);
}

.menu-link:hover {
    text-decoration: underline;
}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding-top: 261px;
    padding-bottom: 262px;
}

.special-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 64px;
    gap: 32px;
    padding-bottom: 64px;
}

.special-subtitle {
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    text-transform: capitalize;
    text-align: center;
    padding-top: 152px;
}

.special-spoon {
    margin: auto;
    display: block;
    padding-top: 8px;
}

.special-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    text-transform: capitalize;
    text-align: center;
    color: var(--main-color);
    padding-top: 8px;
}

.special-wrapper-title {
    font-weight: 600;
    font-size: 45px;
    line-height: 130%;
    text-transform: capitalize;
    text-align: center;
}

.special-caption {
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    text-transform: capitalize;
    color: var(--main-color);
}

.special-text {
    line-height: 175%;
    color: var(--text-color);
    font-family: var(--accent-text);
    padding-top: 8px;
}

/* .special-caption::before {
    content: '';
    display: block;
    width: 119px;
    height: 1px;
    color: white;
} */

.special-hr {
    width: 119px;
    height: 1px;
    color: var(--accent-color);
}

.special-item-wrapper {
    display: flex;
    align-items: center;
    gap: 32px;
    padding-top: 48px;
}

.special-price {
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;    
}

.special-button {
    padding: 8px 32px;
    font-weight: 700;
    line-height: 175%;
    font-family: var(--main-text);
    color: var(--button-color);
    display: block;
    margin: auto;
}


.chef {
    background-image: url(/images/main/about_us-bg.png);
    margin-top: 152px;
}

.chef-subtitle {
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    text-transform: capitalize;
    padding-bottom: 8px;
}

.chef-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    text-transform: capitalize;
    color: var(--main-color);
    padding-top: 8px;
}

.chef-container {
    display: flex;
    padding-top: 128px;
    padding-bottom: 128px;
    gap: 98px;
}

.chef-text {
    font-style: italic;
    line-height: 175%;
    color: var(--text-color);
    font-family: var(--accent-text);
    padding-top: 64px;
    width: 570px;
}

.chef-name {
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: var(--main-color);
    padding-top: 64px;
}

.chef-desc {
    line-height: 175%;
    color: var(--text-color);
    font-family: var(--accent-text);
    padding-top: 8px;
}

.chef-signature {
    font-size: 64px;
    line-height: 130%;
    color: var(--text-color);
    font-family: var(--signature-text);
    padding-top: 64px;
}

.chef-text::before {
    content: '';
    background-image: url(/images/main/quote.png);
    display: block;
    width: 47px;
    height: 40px;
}

.chef-wrapper {
    padding-top: 87px;
}

.customers-subtitle {
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    text-transform: capitalize;
    text-align: center;
    padding-top: 152px;
}

.customers-title {
    font-weight: 600;
    font-size: 64px;
    line-height: 130%;
    text-transform: capitalize;
    color: var(--main-color);
    text-align: center;
    padding-top: 8px;
}

.customers-spoon {
    display: block;
    margin: auto;
    padding-top: 8px;
}

.customers-text {
    font-style: italic;
    line-height: 175%;
    color: var(--text-color);
    height: 84px;
}

.customers-name {
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    color: var(--main-color);
    text-transform: capitalize;
    padding-top: 16px;
}

.customers-position {
    line-height: 175%;
    color: var(--accent-color);
    padding-top: 4px;
}

.customers-list {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 64px;
}

.customers-item {
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;
    width: 634px;
}

